<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funpidquery.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/394c44b5-0799-47ad-80c1-adcd20fbdbba/resourcegroups/RGAPP/providers/Microsoft.Web/sites/FunPIDQuery</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/394c44b5-0799-47ad-80c1-adcd20fbdbba/resourceGroups/RGCluster/providers/Microsoft.ContainerRegistry/registries/skcrdummy</ContainerResourceId>
    <ContainerResourceName>skcrdummy</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>skcrdummy.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>